# Ignore everything
*

# But not these files...
!.gitignore
!LICENSE
@plugins.json

# ...and not the dist folder and all its contents
!dist/
!dist/**

# But still ignore these files inside the included directories
.DS_Store
*.log
